#cell_list {
	width: 270px;
	height: 270px;
	margin: 3px auto;
	>ul {
		>li {
			width: 30px;
			height: 30px;
			display: inline-block;
			margin: -4px 0;
			-webkit-box-sizing: border-box;
		}
	}
	&__0 {
		background: url('../images.gif');
		background-position: 0 0;
	}
	&__1 {
		background: url('../images.gif');
		background-position: -30px 0;
	}
	&__2 {
		background: url('../images.gif');
		background-position: -60px 0;
	}
	&__3 {
		background: url('../images.gif');
		background-position: -90px 0;
	}
	&__4 {
		background: url('../images.gif');
		background-position: -120px 0;
	}
	&__5 {
		background: url('../images.gif');
		background-position: -150px 0;
	}
	&__6 {
		background: url('../images.gif');
		background-position: -180px 0;
	}
	&__7 {
		background: url('../images.gif');
		background-position: -210px 0;
	}
	&__8 {
		background: url('../images.gif');
		background-position: -240px 0;
	}
	&__9 {
		background: url('../images.gif');
		background-position: -270px 0;
	}
	&__99 {
		background: url('../images.gif');
		background-position: -300px 0;
	}
}