#cell_list {
  width: 270px;
  height: 270px;
  margin: 3px auto;
}
#cell_list > ul > li {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: -4px 0;
  -webkit-box-sizing: border-box;
}
#cell_list__0 {
  background: url("../images.gif");
  background-position: 0 0;
}
#cell_list__1 {
  background: url("../images.gif");
  background-position: -30px 0;
}
#cell_list__2 {
  background: url("../images.gif");
  background-position: -60px 0;
}
#cell_list__3 {
  background: url("../images.gif");
  background-position: -90px 0;
}
#cell_list__4 {
  background: url("../images.gif");
  background-position: -120px 0;
}
#cell_list__5 {
  background: url("../images.gif");
  background-position: -150px 0;
}
#cell_list__6 {
  background: url("../images.gif");
  background-position: -180px 0;
}
#cell_list__7 {
  background: url("../images.gif");
  background-position: -210px 0;
}
#cell_list__8 {
  background: url("../images.gif");
  background-position: -240px 0;
}
#cell_list__9 {
  background: url("../images.gif");
  background-position: -270px 0;
}
#cell_list__99 {
  background: url("../images.gif");
  background-position: -300px 0;
}
