#cell_list {
  width: 270px;
  height: 270px;
  margin: 3px auto;
}
#cell_list .cell {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: -4px 0;
  -webkit-box-sizing: border-box;
  list-style: none;
  background: url("../images.gif");
  background-position: 0 0;
}
#cell_list .cell.cell_type_1 {
  background: url("../images.gif");
  background-position: -30px 0;
}
#cell_list .cell.cell_type_2 {
  background: url("../images.gif");
  background-position: -60px 0;
}
#cell_list .cell.cell_type_3 {
  background: url("../images.gif");
  background-position: -90px 0;
}
#cell_list .cell.cell_type_4 {
  background: url("../images.gif");
  background-position: -120px 0;
}
#cell_list .cell.cell_type_5 {
  background: url("../images.gif");
  background-position: -150px 0;
}
#cell_list .cell.cell_type_6 {
  background: url("../images.gif");
  background-position: -180px 0;
}
#cell_list .cell.cell_type_7 {
  background: url("../images.gif");
  background-position: -210px 0;
}
#cell_list .cell.cell_type_8 {
  background: url("../images.gif");
  background-position: -240px 0;
}
#cell_list .cell.cell_type_9 {
  background: url("../images.gif");
  background-position: -270px 0;
}
#cell_list .cell.cell_type_99 {
  background: url("../images.gif");
  background-position: -300px 0;
}
